@font-face {
    font-family: 'HSGooltokki';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/HSGooltokki.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0; padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
}
.back {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    border: 0px solid red;
    background: -webkit-linear-gradient(top, rgb(191, 221, 191), white);
}
.one {
    position: absolute; top: 100px; right: 0;
    width: 200px; height: 200px;
    border: 1px solid black;
    border-radius: 100%;
    background: black; color: white;
    text-align: center;    
    font-size: 2rem;
}
.one p {
    width: 100%; height: 30px;
    line-height: 30px;    
}
.one p:first-child {
    margin-top: 70px;
}
.title {
    position: relative; top: 0; left: 100px;

    width: 600px; height: 100px;
    line-height: 100px;
    border: 1px solid lightgreen;
    border-radius: 30px;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 4rem;
    font-family: 'HSGooltokki';

    text-indent: 50px;
    animation: title_ani 1s;
    cursor: pointer;
}
@keyframes title_ani {
    0% { left: -100%; }
    100% { left: 100px; }
}
.title:hover {
    background: black; color: white;
}

/* 음악 gif 그림 */
.music {
    width: 1000px; height: 300px;
    border: 0px solid black;
    margin: 100px auto;
    background: url(../gif/music.gif);
    background-size: 100% 100%;
    opacity: 0;
    animation: music_ani 2s;
    animation-fill-mode: forwards;
}
@keyframes music_ani {
    0% { opacity: 0; }
    50% { opacity: 0; }
    70% { opacity: 0.5; }
    100% { opacity: 1; }
}
/* 9/4 */
.my {
    position: absolute; top: 40%; left: 100%;
    width: 500px; height: 500px;
    border: 0px solid black;

    background: url(../img/my1.png);
    background-size: 100% 100%;
    /* object-fit: cover ; */    
}
/* 이름, 핸폰, 이메일 스타일 지정 */
.myForm {
    position: relative; top: 0; left: -100%;

    width: 500px; height: 50px;
    line-height: 50px;    
    border: 0px solid blue;   
    
    font-size: 2rem;
    font-family: 'HSGooltokki';
    margin-top: 10px;
}
.myName {
    margin-top: 50px;
}
/* 9-6(수) */
a {
    color: black;
    text-decoration: none;
}
/* 상세 페이지 스타일 */
#myLi, #myPro, #myGalley {
    position: absolute; left: 0;
    width: 100%; height: 100%;
}



#myLi {

    top: 100%;
}
.Li_box {
    width: 100%; height: 100%;
    display: flex;
}
.Li_box li {
    width: 50%; height: 100%;
}
.Li_box .Li_left {
    background: greenyellow;
}

/* 모니터 박스 */
.monitorBox {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; height: 500px;
    border: 0px solid black;
    background: url(../img/monitor.avif);
    background-size: 100% 100%;
}
/* 자격증 보기 */
.monitorBox .big {
    position: absolute;
    top: 90px; left: 55px;
    width: 390px; height: 230px;
    border: 5px solid orange;
    background: blue;
    overflow: hidden;
}
.monitorBox .big .img5 {
    position: relative;
    top: 0; left: 0;
    width: 500%; height: 100%;
    outline: 1px solid red;
    display: flex;
    justify-content: space-between;
}
.monitorBox .big .img5 li {
    width: 20%; height: 100%;
    outline: 1px solid green;
}
/* 자격증 소개 화면에서 메뉴(Li_menu) */
.Li_box .Li_left .Li_menu {
    position: relative; top: 100px; left: 0;
    width: 200px; height: 50px;
    border: 1px solid white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center; line-height: 50px;
    font-size: 2rem;
    background: orange;
    cursor: pointer;
}
/* 자격증 5개 소개 */
.Li_box .Li_left .Li_kind {
    position: relative; top: 100px; left: -100%;
    width: 200px;
}
.Li_box .Li_left .Li_kind li {
    width: 100%; height: 50px;
    border: 1px solid #ccc;
    text-align: right;
    line-height: 50px;
    padding-right: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}
.Li_box .Li_left .Li_kind li:hover {
    background: black; color: white;
}
.Li_box .Li_right {

}
.Li_box .Li_right div {
    width: 400px; height: 50px;
    margin: 50px auto;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 20px;
    line-height: 50px;
    font-size: 2rem;
    
}





#myPro {
    top: 200%;
    background: url(../img/bg1.jpg);
    background-size: 100% 100%;
}

.purple {
    position: relative; top: 0; left: 0;
    width: 1000px; height: 700px;
    border: 0px solid blue;
    border-radius: 50px;
    background: rgba(128, 0, 128, 0.3);
    transform: skew(-45deg);
    margin-left: -500px;
    cursor: pointer;
}
.purple p {
    width: 100%; height: 150px;
    border: 0px solid black;
    line-height: 50px;
    margin-left: -100px;
    text-align: right;
    padding: 50px;
    font-size: 5rem;
    font-family: hy견고딕;
    transform: skew(45deg);
    color: white;
}
.ply {
    position: absolute; top: 100px; left: -100px;
    width: 200px; height: 100px;
    border: 0px solid black;
    background: url(../img/ply.png);
    background-size: 100% 100%;
    animation: ply_ani 40s linear infinite;
}
@keyframes ply_ani {
    0% { left: -100px; top: 100px; }
    10% { left: 100px; top: 130px; }
    20% { left: 400px; top: 100px; }
    30% { left: 600px; top: 130px; }
    40% { left: 800px; top: 150px; }
    50% { left: 1000px; top: 120px; }
    60% { left: 1200px; top: 140px; }
    70% { left: 1400px; top: 160px; }
    80% { left: 1600px; top: 130px; }
    90% { left: 1800px; top: 150px; }
    100% { left:100%; top: 130px; }
    
}


#myGalley {
    top: 300%;
}

.top {
    position: fixed; 
    top: 750px; right: 100px;
    z-index: 99;
    width: 70px; height: 70px;
    border: 1px solid #777;
    border-radius: 100%;
    background: black; color: white;
    text-align: center;
    line-height: 70px;
    animation: top_ani 2s linear infinite;
}
@keyframes top_ani {
    0% { top: 775px; }
    50% { top: 750px; }
    100% { top: 775px; }
}
.top a {
    display: block;
    border-radius: 100%;
    color: white;
}
.top a:hover {
    background: red; color: white;
}