*{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    color: #333;
}
a{
    display: block;
    text-decoration: none;
}
.all{
    width: 100vw;
    height: 100vh;
}
.header{
    width: 200px;
    height: calc(100% - 130px);
    float: left;
}
.logo{
    width: 200px;
    height: 110px;
    float: left;
}
.logo img{
    width: 200px;
    height: 110px;
    object-fit: cover;
}
.menu{
    width: 200px;
    height: calc(100% - 110px);
    background-color: rgba(255, 166, 0, 0.548);
    float: left;
}
.navi{
    text-align: center;
    margin-top: 30px;
}
.navi>li{
    position: relative;
    z-index: 1;
}
.navi li{
    width: 180px;
    height: 40px;
    line-height: 40px;
    background-color: white;
    font-size: 15px;
}
.navi a:hover{
    background-color: yellowgreen;
}
.sub{
    top: 0;
    position: absolute;
    left: 190px;
    display: none;
}
.sub>li{
    background-color: thistle;
}
.sub a:hover{
    background-color: skyblue;
}
.contents{
    width: 400px;
    height: calc(100% - 130px);
    float: left;
}
.banner{
    width: 400px;
    height: 150px;
    float: left;
    position: relative;
}
.banner img{
    width: 400px;
    height: 150px;
    object-fit: cover;
}
.banner span{
    position: absolute;
    left: 0;
    color: red;
    line-height: 20px;
    margin-top: 40px;
    margin-left: 10px;
}
.notice{
    width: 400px;
    height: 300px;
    float: left;
}
.notice ul>li{
    margin-left: 10px;
}
.notice li{
    line-height: 40px;
}
.notice>a{
    width: 100px;
    line-height: 30px;
    text-align: center;
    margin-left: 20px;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #eee;
    margin-top: 10px;
}
.notice>a:hover{
    background-color: #ccc;
}
.notice span{
    float: right;
    margin-right: 10px;
}
.notice li:nth-child(2n){
    background-color: #ddd;
}
.notice li:hover{
    font-weight: bold;
}
.gallery{
    width: 400px;
    height: 300px;
    float: left;
}
.gallery img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    float: left;
    margin-left: 25px;
    margin-top: 50px;
}
.gallery>a{
    width: 100px;
    line-height: 30px;
    text-align: center;
    margin-left: 20px;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #eee;
    margin-top: 10px;
}
.gallery a:hover{
    background-color: #ccc;
}
.gallery img:hover{
    opacity: 0.5;
}
.link{
    width: 400px;
    height: calc(100% - (150px + 300px + 300px + 120px));
    float: left;
    /* overflow: hidden; */
    border-bottom: 1px solid #ddd;
    margin-top: -1px;
}
.link img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    float: left;
    margin-left: 15px;
    border: 1px solid yellowgreen;
    margin-top: 10px;
}
.link img:hover{
    opacity: 0.5;
}
.slide{
    width: calc(100% - (210px + 400px));
    height: calc(100% -120px);
    float: left;
    overflow: hidden;
    position: relative;
}
.imgslide{
    width: 600vw;
}
.imgslide img{
    width: 200vh;
    height: calc(100vh - 130px);
    object-fit: cover;
    float: left;
}
.imgslide span{
    position: absolute;
    top: 300px;
    width: 300px;
    height: 300px;
    color: white;
    text-align: center;
    background-color: rgba(153, 205, 50, 0.596);
    line-height: 300px;
    font-size: 25px;
    margin-left: 35%;
    border-radius: 500px;
}
.footer{
    width: 100%;
    height: 120px;
    background-color: #ccc;
    float: left;
    position: relative;
    top: 0;
}
.down_logo{
    width: 200px;
    height: 120px;
    float: left;
}
.down_logo img{
    width: 200px;
    height: 120px;
    object-fit: cover;
}
.down_sub{
    width: calc(100% - (200px + 300px));
    height: 120px;
    float: left;
}
.down_menu{
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.down_menu u{
    padding: 10px;
}
.copy{
    width: 100%;
    height: 60px;
    line-height: 20px;
    border-top: 1px solid #eee;
}
.family{
    width: 300px;
    height: 120px;
    float: left;
    text-align: center;
    line-height: 120px;
}
#modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 192, 203, 0.356);
    z-index: 1;
    display: none;
}
#modal.active{
    display: block;
}
.modal_up{
    width: 400px;
    height: 300px;
    background-color: white;
    text-align: center;
    border: 1px solid yellowgreen;
    margin-top: 200px;
    margin-left: 610px;
}
.uptitle{
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
}
.upbody{
    width: 380px;
    line-height: 23px;
}
.btn{
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: violet;
    float: right;
    margin-top: 20px;
    margin-right: 5px;
    display: block;
    cursor: pointer;
    color: white;
}
.btn:hover{
    background-color: thistle;
}